<?xml version="1.0" encoding="utf-8"?>
<title>Boat Launcher</title>
<icon>icon.png</icon>
<packageName>com.jiuxia.boat.launcher.pro</packageName>
<versionName>1.0</versionName>
<versionint>1</versionint>
<sdk>21</sdk>
<yuv>3</yuv>
<remark></remark>
<Permissions>android.permission.READ_EXTERNAL_STORAGE
android.permission.REQUEST_INSTALL_PACKAGES
android.permission.READ_EXTERNAL_STORAGE
android.permission.WRITE_EXTERNAL_STORAGE
android.permission.INTERNET</Permissions>
<createTime>2020-03-31 18:16:43</createTime>
<upTime>2020-03-31 18:16:43</upTime><manifest></manifest><application></application>